.IconButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButtonWithText {
  padding: 8 16px;
  width: auto;
}

.squareButton {
  padding: 0;
}

.squareButtonLg {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.squareButtonSm {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
