.resultStep {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.resultStep:hover {
  cursor: pointer;
}

.resultStepError {
  composes: resultStep;
  background-color: #f8d7da;
  border-color: #f1aeb5;
}

.resultStepSuccess {
  composes: resultStep;
  background-color: #d1e7dd;
  border-color: #a3cfbb;
}
.resultStepTimeout {
  composes: resultStep;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.resultStepCurrent {
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.027);
}
