.result-step {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.result-step:hover {
  cursor: pointer;
}

.result-step-error {
  composes: result-step;
  background-color: #f8d7da;
  border-color: #f1aeb5;
}

.result-step-success {
  composes: result-step;
  background-color: #d1e7dd;
  border-color: #a3cfbb;
}

.result-step-current {
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.027);
}
