.resultSteps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.resultStep {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: lightgray;
}

.resultStep:hover {
  cursor: pointer;
}

.resultStepError {
  composes: resultStep;
  background-color: red;
}

.resultStepSuccess {
  composes: resultStep;
  background-color: green;
}

.resultStepCurrent {
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.027);
}
